@import './base.css';
@import './flex/index.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar{
  display: none;
}

.page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 5rem;
  position: sticky;
}
