@import './base.css';
@import './flex/index.css';

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar{
  display: none;
}

.page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 5rem;
}

@media only screen and (max-width: 720px) {
  .page {
    padding: 5rem 1rem 1rem 1rem;
  }
}
